<section class="bg-neutral-100">
  <footer class="container py-sm-10 py-6">
    <div class="d-flex flex-sm-row flex-column justify-content-sm-between justify-content-start align-items-sm-center mb-5">
      <div class="logo mb-sm-0 mb-2">
        <a class="fw-700 fs-5 py-2 px-3" href="./index.html">URBNSTEP
          <div class="logo-circle"></div>
        </a>
      </div>
      <ul class="d-flex flex-sm-row flex-column justify-content-sm-between justify-content-start align-items-sm-center">
        <li class="me-sm-7 me-0 mb-sm-0 mb-1">
          <a class="menu-item py-3 px-3" href="./product.html">商品列表</a>
        </li>
        <li>
          <a class="menu-item py-3 px-3" href="./about.html">品牌故事</a>
        </li>
      </ul>
    </div>
    <div class="border border-1 border-neutral-300 mb-6"></div>
    <div class="text-center">
      <p class="fs-7 fw-normal text-neutral-600 mb-1">Copyright ©2025 URBNSTYLE</p>
      <p class="fs-7 fw-normal text-neutral-600">All Rights Reserved.</p>
    </div>
  </footer>
</section>