<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>產品列表頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <section class="container mb-sm-6 mb-3">
      <ol class="d-flex justify-content-start align-items-center">
        <li><a class="text-neutral-600 fs-sm-6 fs-14" href="./index.html"></a>首頁</li>
        <li class="text-neutral-300 mx-sm-3 mx-2">/</li>
        <li><a class="text-neutral-600 fs-sm-6 fs-14" href="./product.html"></a>女鞋</li>
        <li class="text-neutral-300 mx-sm-3 mx-2">/</li>
        <li><a class="text-neutral-900 fw-bold fs-sm-6 fs-14" href="./product.html"></a>所有商品</li>
      </ol>
    </section>

    <section class="container mb-sm-9 mb-4">
      <h1 class="fw-bold py-h1 fs-sm-3 fs-4 mb-sm-5 mb-3">女鞋</h1>

      <div class="row mb-sm-9 mb-7">
        <ul class="col-sm-2 d-sm-block d-none" data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">
          <li class="mb-4"><a class="text-primary py-3" href="#">所有商品</a></li>
          <li class="mb-4"><a class="py-3" href="#">慢跑鞋</a></li>
          <li class="mb-4"><a class="py-3" href="#">滑板鞋</a></li>
          <li class="mb-4"><a class="py-3" href="#">厚底鞋</a></li>
          <li><a class="py-3" href="#">限定 / 聯名企劃</a></li>
        </ul>

        <div class="col-sm-10 col">
          <ul class="row">
            <li class="col-sm-4 col-6 mb-sm-9 mb-6">
              <a href="./product_details.html">
                <img class="mb-sm-3 mb-2" src="/assets/images/product.png" alt="PLATFORM 404">
                <h2 class="fw-bold mb-sm-1 mb-0">PLATFORM 404</h2>
                <p>NT$2,600</p>
              </a>
            </li>
            <li class="col-sm-4 col-6 mb-sm-9 mb-6">
              <a href="./product_details.html">
                <img class="mb-sm-3 mb-2" src="/assets/images/product-1.png" alt="PLATFORM 404">
                <h2 class="fw-bold mb-sm-1 mb-0">PLATFORM 404</h2>
                <p>NT$2,600</p>
              </a>
            </li>
            <li class="col-sm-4 col-6 mb-sm-9 mb-6">
              <a href="./product_details.html">
                <img class="mb-sm-3 mb-2" src="/assets/images/product-2.png" alt="PLATFORM 404">
                <h2 class="fw-bold mb-sm-1 mb-0">VM001</h2>
                <p>NT$2,600</p>
              </a>
            </li>
            <li class="col-sm-4 col-6 mb-sm-9 mb-6">
              <a href="./product_details.html">
                <img class="mb-sm-3 mb-2" src="/assets/images/product-3.png" alt="PLATFORM 404">
                <h2 class="fw-bold mb-sm-1 mb-0">Melty Kiss</h2>
                <p>NT$4,000</p>
              </a>
            </li>
            <li class="col-sm-4 col-6 mb-sm-9 mb-6">
              <a href="./product_details.html">
                <img class="mb-sm-3 mb-2" src="/assets/images/product-4.png" alt="PLATFORM 404">
                <h2 class="fw-bold mb-sm-1 mb-0">BOOMBLOK</h2>
                <p>NT$3,200</p>
              </a>
            </li>
            <li class="col-sm-4 col-6 mb-sm-9 mb-6">
              <a href="./product_details.html">
                <img class="mb-sm-3 mb-2" src="/assets/images/product-5.png" alt="PLATFORM 404">
                <h2 class="fw-bold mb-sm-1 mb-0">BOOMBLOK</h2>
                <p>NT$3,200</p>
              </a>
            </li>
            <li class="col-sm-4 col-6 mb-sm-9 mb-6">
              <a href="./product_details.html">
                <img class="mb-sm-3 mb-2" src="/assets/images/product-6.png" alt="PLATFORM 404">
                <h2 class="fw-bold mb-sm-1 mb-0">R:UNER</h2>
                <p>NT$4,000</p>
              </a>
            </li>
            <li class="col-sm-4 col-6 mb-sm-9 mb-6">
              <a href="./product_details.html">
                <img class="mb-sm-3 mb-2" src="/assets/images/product-7.png" alt="PLATFORM 404">
                <h2 class="fw-bold mb-sm-1 mb-0">Sugar Snap</h2>
                <p>NT$4,000</p>
              </a>
            </li>
            <li class="col-sm-4 col-6 mb-sm-9 mb-6">
              <a href="./product_details.html">
                <img class="mb-sm-3 mb-2" src="/assets/images/product-8.png" alt="PLATFORM 404">
                <h2 class="fw-bold mb-sm-1 mb-0">Neofoam</h2>
                <p>NT$4,000</p>
              </a>
            </li>
            <li class="col-sm-4 col-6 mb-sm-9 mb-6 d-sm-none d-block">
              <a href="./product_details.html">
                <img class="mb-sm-3 mb-2" src="/assets/images/product-9.png" alt="PLATFORM 404">
                <h2 class="fw-bold mb-sm-1 mb-0">Buttermood</h2>
                <p>NT$4,000</p>
              </a>
            </li>
          </ul>


          <ul class="d-flex justify-content-center align-items-center mb-sm-7 mb-4">
            <li class="me-3">
              <a href="#" class="text-neutral-500 pagination-item page-10">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                </svg>
              </a>
            </li>
            <li class="me-2">
              <a href="#" class="pagination-item py-2 px-15-5">1</a>
            </li>
            <li class="me-2">
              <a href="#" class="pagination-item py-2 px-15-5 fw-normal">2</a>
            </li>
            <li class="me-2">
              <a href="#" class="pagination-item py-2 px-15-5 fw-normal">3</a>
            </li>
            <li class="me-2">
              <a href="#" class="pagination-item py-2 px-15-5 fw-normal">...</a>
            </li>
            <li>
              <a href="#" class="pagination-item py-2 px-15-5 fw-normal">10</a>
            </li>
            <li class="ms-3">
              <a href="#" class="fw-normal pagination-item page-10">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                </svg>
              </a>
            </li>
          </ul>
        </div>

      </div>

    </section>

    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
